/*********Form*********************/
.skrainn{
    width: 100%;
    float: right;
}

.log fieldset{
	border: 3px solid black;
	background-color: #00a7ff;
	font-size: 1.45em;
    border-radius: 5px;
    transition: .1s;
    float: right;
    margin-bottom: 1em;;
    width: 85%;
}
.log input{
    width: 85%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: .7em;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    transition: border 0.5s ease;
}
.log input[type=submit] {
    width: 85%;
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}
.log input[type=submit]:active {
    background-color: #c30000;
}
/****Tonleikar********/
.tonleikarDiv{
	background-color: #d3d3d3;
	text-align: center;
}
.tonleikarDiv img{
	width: 80%;
}

/*form endar*/
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.logout{
	background-color: black;
	color: white;
	width: 100%;
	border-radius: 1em;
	font-size: 3em;
}
.stadTakki{
	width: 100%;
	font-size: 1.5em;
}
#map {
	width: 100%;
	height: 80%;
}
#vedur{
    width: 100%;
    text-align: center;
    background-color: #FFCC00;
	height: 80%;
}
.vedurmyndin{
	width: 100%;
}

/* min width 42em    */
@media screen and (min-width: 42em) {
	#map {
		width: 50%;
		height: 80%;
		float: left;
	}
  #vedur{
    width: 50%;
    float: right;
	}
	.logout{
		background-color: black;
		color: white;
		width: auto;
		border-radius: 1em;
		font-size: 3em;
		padding: .4em;

	}
	/****Tonleikar********/
	.tonleikarDiv{
		width: 30%;
		float: left;
		height: 100%;
		margin: 1em;
		border-radius: 1em;
	}
	/*********Form*********************/
	.skrainn{
			width: 40%;
			float: right;
	}
	.log fieldset{
			width: 100%;
	}
	.log input{
			width: 100%;
	}
	.log input[type=submit] {
			width: 100%;
	}
}